.case a
{

}



*
{
	margin: 0;
	padding: 0;
}

.left img
{
    position: absolute;
    display: inline-block;
    top: 30px;
	left: 35px;
}
.footer img
{
	margin-left: 50px;
	position: absolute;
	display: inline-block;
	margin-top: 10px;
}



p
{
	font-size: 50px;
    color: #ffa743;
    width: auto;
    display: inline-block;
    margin-top: 20px;

}

div.nav 
{
	background-color: #fe7e00;
	height: 120px;
	margin: 0;
	display: block;
	width: 100%;
	padding: 0%;

}
.left span
{
	font-weight: bold;
	color: white;
    font-size: 40px;
    margin-top: 20px;

}

nav button
{
	background-color: #fe7e00;
	display: block;
}

.button ul
{
	display: inline-block;
}

.nav ul.right
{
	display: inline-block;
	font-size: 13px
	vertical-align: bottom;
	font-weight: bold;	
	
	background-color: #fe7e00;
	
	
	float: right;
	margin-top: 50px;
	display: flex;
	list-style-type: none;
	}

body
	{
		margin: 0;
		padding: 0;
	}

.footer

{
	    background-color: #7accc8;
    bottom: 0;
    font-size: 10px;
    height: 120px;
    position: absolute;
    width: 100%;
    top: 120%;
}
div.orange img
{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    position: absolute;
    margin-left: 70px;
  
}

.left sup
{
	color: #ffa743;
	font-size: 20px}

}
.right a
{

		color: white;
		margin-right: 10px;
		padding: 0;
		color: #ffa743;
}
div.nav ul.left
{
	float: left;
	list-style: none;
}
.left li
{
	top: 20px;
	left: 60px;
	position: absolute;
}
div
{
	display: inline-block;
}
div.nav span.left
{
	color: white;
}


div.word 
{
	margin-top: 100px;
    width: 40%;
    float: right;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    margin-right: 80px;
}

sup
{

}
.section
{
	top: 175px;
    width: 40%;
    text-align: left;
    position: absolute;
    left: 500px;
   
}
.section p.word
{
	font-size: 50px;
}
.section span 
{
	font-weight: bold;
}
.web span
{
color:#7accc8;
font-size: 50px;
}


.quote button
{
    height: 80px;
    width: 200px;
    background-color: #fe7e00;
    color: white;
    font-size: 20px;
    position: relative;
    top: -43px;
    right: 40px;
}

.case button
{

	
    height: 80px;
    width: 200px;
    background-color: #7accc8;
    color: white;
    font-size: 20px;
    position: relative;
    top: -54px;
    left: 15px;
}
.but


	display: inline-block;
}

.search input
{
    margin-top: 70px;
    right: 100px;
    text-align: center;
}

.nav a
{
	color: #ffa743;
	text-decoration: none;
}

.nav li
{
	padding: 0 30px;
    display: inline-flex;
    font-size: 20px;
}

.word sup
{
	font-size: 20px;
}

.button ul
{

}

.button li
{
	display: inline-block;

}
.button li.quote
{
	margin-right: 60px;
    width: 100px;
}

.button li.case
{

}


.button
{
    margin-top: 450px;
    position: absolute;
    right: 400px;
}
.search input
{
    margin-top: 125px;
    position: absolute;
    right: 200px;
    width: 200px;
    height: 30px;
    background-color: #efefed;
}

div.search ul
{
position: absolute;
}
div.search li
{
position: absolute;
}



.search img
{
	color: black;
    height: 20px;
    position: absolute;
    margin-top: 130px;
    display: inline-block;
    left: 1140px;
}
div.search
{
	display: inherit;
}
li.juice p
{
    font-size: 40px;
    color: #ffa743;
    width: auto;
    display: inline-block;
    margin-top: 20px;
}
@media (max-width: 768px)

{
	div.nav ul.left 
	{
		
		position: absolute;
	}
	div.nav ul.right
	{

	}
	.left img
	{
	height: 35px;
    left: 10px;
    top: 45px;
}
	.left li
	{
		float: none;
		margin-left: 0px;
		margin-top: 0px;
	}
	.nav li
	{
	padding: 0 10px;
    display: inline-flex;
    font-size: none;
    font-size: 12px;
	}
	.search input
	{
		right: 25px;
	}
	.search li img
	{
		left: 720px;
	}
	.section p.word
	{
		font-size: 30px;
		left: 45%;
		position: absolute;
		top: 25px;
	}
	.section
	{
		width: 100%;
		left: 0px;
	}
	.word sup
	{
		font-size: 10px;
	}
	p
	{
		left: 50%;
		font-size: 30px;
		position: absolute;
		margin-top: 40px;
	}
	li.juice
	{
		position: none;
	}
	li.juice p
	{
		left: 130px;
		position: absolute;
		width: 100%;
	}
	p.web
	{
		    top: 95px;
   		    position: absolute;
   		    text-align: center;
   		    right: 70px;
	}
	.web span
	{
		font-size: 30px;
	}

	.quote button
	{
		height: 50px;
		width: 175px;
		font-size: 20px;
		top: -125px;
		left: 336px;
	}
	.case button
	{
		height: 50px;
		width: 175px;
		font-size: 20px;
		top: -136px;
		left: 355px;
	}
}

/* I WANT ALL THE dot buttons */